@import url('https://fonts.googleapis.com/css?family=Rubik:300,500');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

body {
    font-family: "Rubik", 'Courier', sans-serif; /* Get a custom font and change this later! */
    color: #909090;
    font-size: 1.2em;
    line-height: 2em;
}

#title-and-dog {
    margin-top: 20%;
    display: block;
    margin: auto;
    width: 50%;
}

#text {
    font-weight: 300;
    width: 70%;
    margin: 0 auto;
    text-align: center
}

#continue-button {
    width: 180px;
    height: 60px;
    font-family: "Karla";
    font-weight: 400;
    color: #18CBF5;
    text-align: center;
    text-transform: uppercase;
    line-height: 3em; /* Center the text */ 
    letter-spacing: .15em;
    margin: 0 auto;
    border: 1px solid #18CBF5;
    border-radius: 10px;
}

.actions {
    width: 180px;
    height: 60px;
    font-family: "Karla";
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    line-height: 3em; /* Center the text */ 
    letter-spacing: .15em;
    margin: 0 auto;
    color: #ff7f9a;
    border: 1px solid #ffcdd7;
    border-radius: 10px;
}

#visitors {
	height: 100%;
    width: 0px; /* Will set width in main.js */
    position: fixed; /* Fixed position */
    z-index: 1;
    overflow-x: hidden;
}